@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
    <p class="lead">This is the administration area of the donations site.</p>
    <a href="/Administration/Donors/Index" class="btn btn-primary btn-lg">Donors &raquo;</a>
    <a href="/Administration/Recipients/Index" class="btn btn-primary btn-lg col-md-offset-1">Recipients &raquo;</a>
</div>
