@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
    <p class="lead">This is the administration area of the donations site.</p>

    <ul class="list-inline">
        <li>
            <a href="/Administration/Donors/Index">
                <img src="/Content/Images/Admin_Panel/donor-icon.png" border="0" alt="donor icon" />
            </a>
            <p class="lead">Donors &raquo;</p>
        </li>
        <li>
            <a href="/Administration/Recipients/Index">
                <img src="/Content/Images/Admin_Panel/recipients-icon.png" border="0" alt="donor icon" />
            </a>
            <p class="lead">Recipients &raquo;</p>
        </li>
        <li>
            <a href="/Administration/FoodDonations/Index">
                <img src="/Content/Images/Admin_Panel/food-donation-stake-small.png" border="0" alt="donor icon" />
            </a>
            <p class="lead">Donations &raquo;</p>
        </li>
        <li>
            <a href="/Administration/FoodRequests/Index">
                <img src="/Content/Images/Admin_Panel/food-request-globe.png" border="0" alt="donor icon" />
            </a>
            <p class="lead">Requests &raquo;</p>
        </li>
    </ul>
</div>