@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
    <p class="lead">This is the administration area of the donations site.</p>
    <p>
        <a href="/Administration/Donors/Index">
            <img src="~/Content/images/donor-icon.png" border="0" alt="donor icon"/>
        </a>
        <span>Donors &raquo;</span>
    </p>
    <a href="/Administration/Recipients/Index" class="btn btn-primary btn-lg col-md-offset-1">Recipients &raquo;</a>
    <p>
        <a href="/Administration/FoodDonations/Index" class="btn btn-primary btn-lg">Donations &raquo;</a>
    </p>
</div>