@model Charity.Web.Models.HomePageViewModel

@{
    ViewBag.Title = "FoodShare Home";
}

<h2>Latest donations</h2>

<div class="row list-group">
    @foreach (var foodDonation in Model.LatestDonations)
    {
        @Html.Partial("~/Views/FoodDonations/_FoodDonation.cshtml", foodDonation)
    }
</div>

<h1>Most helping donors</h1>

@Html.Partial("~/Views/Donors/_DonorsList.cshtml", Model.MostActiveDonors)