@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.Kendo()
    .Grid<Charity.Web.Areas.Administration.Models.FoodDonationListViewModel>()
    .Name("donations-grid")
    .Pageable()
    .Scrollable()
    .Filterable()
    .Sortable()
    .Navigatable()
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .HtmlAttributes(new { style = "height:430px;" })
    .Columns(col =>
    {
        col.Bound(fd => fd.Name);
        col.ForeignKey(
            fd => fd.Category.Id,
            (System.Collections.IEnumerable)ViewData["foodcategories"], "Id", "Name")
            .Title("Category").Sortable(false).Width(230);

        col.Bound(fd => fd.Quantity).Width(130);
        col.Bound(fd => fd.ExpirationDate).Width(150).Format("{0:dd.MM.yyyy}");
        col.Bound(fd => fd.IsCompleted).Width(120);
        col.Bound(fd => fd.DonorOrganization).Width(140);
        col.Command(command =>
            {
                command.Custom("Edit").Click("redirectToDonationEdit");
                command.Destroy();
            }).Width(180);
    })
    .ToolBar(toolBar =>
    {
        //toolBar.Create();
        toolBar.Save();
    })
    .HtmlAttributes(new { style = "height: 400px;" })
    .DataSource(data => data
    .Ajax()
    .Batch(true)
    .Sort(sort => sort.Add("Name").Ascending())
    .ServerOperation(true)
    .PageSize(10)
    .Events(events => events.Error("error_handler"))
    .Model(m =>
        {
            m.Id(fd => fd.Id);
            m.Field(fd => fd.Id).Editable(false);
            m.Field(fd => fd.Name);
            m.Field(fd => fd.Category.Id).DefaultValue(1);
            m.Field(fd => fd.Quantity);
            m.Field(fd => fd.ExpirationDate);
            m.Field(fd => fd.IsCompleted);
            m.Field(fd => fd.DonorOrganization);
        })
        .Read(read => read.Action("ReadDonations", "FoodDonations"))
        .Update(update => update.Action("UpdateDonations", "FoodDonations"))
        .Destroy(delete => delete.Action("DeleteDonations", "FoodDonations"))
    )
)

<script type="text/javascript">
    function redirectToDonationEdit(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var donationId = dataItem.Id;
        var url = "@Url.Action("Edit","FoodDonations", new { id = "donation-id" })";
        window.location.href = url.replace('donation-id', donationId);
    }
</script>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>