@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html.Kendo()
        .Grid<Charity.Web.Areas.Donors.Models.FoodDonationListViewModel>()
    .Name("donations-grid")
    .Pageable()
    .Scrollable()
    .Filterable()
    .Sortable()
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .HtmlAttributes(new { style = "height:430px;" })
    .Columns(col =>
    {
        col.Bound(fd => fd.Name);
        col.ForeignKey(
            fd => fd.Category.Id,
            (System.Collections.IEnumerable)ViewData["foodcategories"], "Id", "Name")
           .Title("Category").Sortable(false);
        
        col.Bound(fd => fd.Quantity);
        col.Bound(fd => fd.ExpirationDate).Format("{0:dd.MM.yyyy}");
        col.Bound(fd => fd.AvailableFrom).Format("{0:dd.MM.yyyy}");
        col.Bound(fd => fd.AvailableTo).Format("{0:dd.MM.yyyy}");
        col.Bound(fd => fd.IsCompleted);
    })
    .ToolBar(toolBar =>
    {
        //toolBar.Create();
        toolBar.Save();
    })
    .HtmlAttributes(new { style = "height: 400px;" })
    .DataSource(data => data
        .Ajax()
        .Batch(true)
        .Sort(sort => sort.Add("Name").Ascending())
        .ServerOperation(true)
        .PageSize(10)
        .Events(events => events.Error("error_handler"))
        .Model(m =>
            {
                m.Id(fd => fd.Id);
                m.Field(fd => fd.Id).Editable(false);
                m.Field(fd => fd.Name);
                m.Field(fd => fd.Category.Id).DefaultValue(1);
                m.Field(fd => fd.Quantity);
                m.Field(fd => fd.ExpirationDate);
                m.Field(fd => fd.AvailableFrom);
                m.Field(fd => fd.AvailableTo);
                m.Field(fd => fd.IsCompleted);
            })
            .Read(read => read.Action("ReadMyDonations", "FoodDonations"))
            .Update(update => update.Action("UpdateDonation", "FoodDonations"))
            //.Destroy("DeleteDonation", "FoodDonations")
    )
)

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>